* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: blue;
}

.container {
    width: 60%;
    margin: 100px auto;
    text-align: center;
}

p {
    background-color: black;
    display: none;
}

.container:hover > p {
    display: block
}